.App {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: #f3f2f2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 button:hover{
  background-color: #4c5362;
} 

.textStyle{
  text-decoration: line-through;
  color: #c70d00;
}

.searchStyle{
  border: none;
  width: 243px;
  border-radius: 50px;
  padding: 20px;
  height: 2px;
 }
 ::placeholder {
  color: rgb(206, 206, 206);
  font-size: 15px;
  /* opacity: 1; */
}

.btnAdd {
  border: none;
  background-color: #c70d00;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.tasks {
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
}



.btnD{
  color:rgb(255, 255, 255);
  border: none;
  border: 2px solid #050505;
  padding:10px 10px 10px 10px;
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius:100%;
}

.btnDel{
  color:rgb(255, 255, 255);
  border: none;
  border: 2px solid #050505;
  padding:10px 10px 10px 10px;
  width: 50px;
  height: 50px;
  margin: 20px;
  border-radius:100%;
}

.btnHeader{
  color:white;
  background-color: black;
  border: none;
  padding:10px 10px 10px 10px;
  width: 100px;
  margin: 20px;
  border-radius: 5px;
} 
.btnDel:hover{
  background-color: #e8e8e8;
} 

.btnD:hover{
  background-color: #e8e8e8;
} 